---
import HeaderButton from "./headerButton.astro";

---

<header class="py-8 px-4 mx-auto max-w-2xl lg:py-16 lg:px-8">
    <div class="mx-auto text-center mb-8 lg-mb-16">
        <h2 class="mb-4 flex items-center text-5xl tracking-tight font-extrabold text-white">
            <img src="/svg/rocket.svg" alt="rocket" width="100px" style="color:white;"> SpaceX launches 
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            All the information about SpaceX launches 
        </p>
    </div>

    <nav class="flex flex-col text-white items-center justify-between w-full text-center md:flex-row">
        
        <HeaderButton href="/">
            Last launches
        </HeaderButton>
        
        <HeaderButton href="/about">
            <img src="/svg/infoCircle.svg" alt="info-icon" slot="before"> 
            About        
        </HeaderButton>
        
        <HeaderButton href="oldest">
            Oldest launches
        </HeaderButton>
    </nav>
</header>